{% load static %}

<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <title>Special Chinese Name</title>
    
{% block facebook %}
{% endblock %}

    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script type='text/javascript'>
          var _vds = _vds || [];
          window._vds = _vds;
          (function(){
            _vds.push(['setAccountId', 'b95fba2d6958fb5a']);
            (function() {
              var vds = document.createElement('script');
              vds.type='text/javascript';
              vds.async = true;
              vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(vds, s);
            })();
          })();
    </script>

</head>

<body>

{% block content %}
{% endblock %}

        <!-- Footer2 -->
        <div class="page-row-topic">
            <div class="container">
                <div class="container-fluid">
                    <div class="row text-center">
                        <hr/>
                        <h1 style="color:grey;">Names we given</h1>
                        <h2 style="" id="paid_counter">00330120</h2>
                    </div>
                </div>
            </div>
        </div><!-- / Footer2 -->

<!-- <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script> -->
<script src="//cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- <script src="{% static 'js/jquery.percentageloader-01a.js' %}"></script> -->
<script src="//cdn.bootcss.com/jquery.percentageloader/0.1.0/jquery.percentageloader.min.js"></script>

{% block script %}
{% endblock %}

<script type="text/javascript">
  var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260968618'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260968618%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>  

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28725387-2', 'auto');
  ga('send', 'pageview');

</script>    

</body>
</html>