{% extends 'specialname/_base.html' %}
{% load static %}

{% block facebook %}
<meta property="og:type" content="article">
<meta name="description"
      content="Look at my special Chinese name: {{order.deliverable.0.0}}, do you want one as well?"">
<meta property="og:title" content="Look at my special Chinese name {{order.deliverable.0.0}}">
<meta property="og:url" content="http://www.namechinesename.com/order/{{order.id}}">
<meta property="og:description"
      content="Look at my special Chinese name: {{order.deliverable.0.0}}, do you want one as well?">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <a href="/"><h1>Chinese Name</h1></a>
        </div>
    </div>

    <h1>Congratulations, you got a professional Chinese name for a life time</h1>

    <div class="hide">
        <p>paymentId={{paymentId}}</p>
        <p>discount_price={{discount_price}}</p>
        <p>deliverable={{order.deliverable}}</p>
        <p>order_id={{order.id}}</p>
    </div>

    <h3>Your names:</h3>
    {% for dlv in order.deliverable %}
    <p>{{dlv.0}} {{dlv.1}}</p>
    {% endfor %}

    <p>
        <a class="btn btn-info"
           href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.namechinesename.com%2Forder%2F{{order.id}}"
           class="article-share-facebook" target="_blank" title="Facebook">Share to Facebook</a>
    </p>


    <!-- http://bihua.51240.com/ -->
    <!--<img src="{% static 'media/read_n_writting.png' %}"/>-->

</div>
{% endblock %}
