{% extends 'specialname/_base.html' %}
{% load static %}


{% block content %}
<h1>Congratulations, you get a professional Chinese name for a life time</h1>

<p>out_trade_no={{out_trade_no}}</p>
<p>result={{result}}</p>
<p>is_correct_sign={{is_correct_sign}}</p>

<p>paymentId={{paymentId}}</p>

<p>discount_price={{discount_price}}</p>
<p>deliverable={{order.deliverable}}</p>

<p>
	<a class="btn btn-info" href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.jackyshen.com%2Forder%2F{{order.id}}" class="article-share-facebook" target="_blank" title="Facebook">Share to Facebook</a>
</p>

<!-- http://bihua.51240.com/ -->
<img src={% static 'media/read_n_writting.png' %} />
{% endblock %}
