{% extends 'specialname/_base.html' %}
{% load static %}

{% block content %}
        <!-- Header and nav bar -->
        <div class="container">
            <h1>产品</h1>


            <p>{{gender}} | {{ characters }} | </p>
            <!-- Below is for Alipay wap -->
<!--             <form role="form" class="form-inline" action="./payment_wap" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="client_name">Name <span style="color:red;">*</span></label>
                    <input type="" class="form-control" id="client_name" name="client_name" placeholder="Enter name" value="" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address <span style="color:red;">*</span></label>
                    <input type="email" class="form-control" id="client_email" name="client_email" placeholder="Enter email" value="" required>
                </div>
                <p>Products:</p>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td>Chinese name by experts x1</td>
                            <td>{{product.price}} {{product.currency}}</td>
                        </tr>
                        <tr>
                            <td>Total Price</td>
                            <td>{{product.price}} {{product.currency}}</td>
                        </tr>
                    </table>
                </div>
                <input type="hidden" name="client_chars" value="{{characters}}">
                <input type="hidden" name="client_gender" value="{{gender}}">
                <button class="btn btn-primary"><img src="http://www.nihaopay.com/img/logos/logo-alipay.png" alt="Alipay Wap" height="34px"></button>
            </form>
 -->

            <form role="form" class="form-inline" action="./payment/paypal/create" method="POST" id="paypal_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="client_name">Name <span style="color:red;">*</span></label>
                    <input type="" class="form-control" id="client_name" name="client_name" placeholder="Enter name" value="" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address <span style="color:red;">*</span></label>
                    <input type="email" class="form-control" id="client_email" name="client_email" placeholder="Enter email" value="" required>
                </div>
                <p>Products:</p>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td>Chinese name by experts x1</td>
                            <td>{{product.price}} {{product.currency}}</td>
                        </tr>
                        <tr>
                            <td>Total Price</td>
                            <td>{{product.price}} {{product.currency}}</td>
                        </tr>
                    </table>
                </div>
                <input type="hidden" name="client_chars" value="{{characters}}">
                <input type="hidden" name="client_gender" value="{{gender}}">
                <button type="submit" class="save btn btn-default"><img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypalcheckout-34px.png" alt="Paypal"></button>
            </form>


        </div>

{% endblock %}


{% block script %}
<script type="text/javascript">
$('#paypal_form')[0].addEventListener('submit', function(event) {
        if (! (event.target.checkValidity())) {
            event.preventDefault(); // dismiss the default functionality
            alert('Please, fill the form'); // error message
            console.warn('Please, fill the form'); // error message
        }
    }, false);
</script>    
{% endblock %}